<h1>AccessDenied</h1>

<p>
    IsAuthenticated = @ViewBag.IsAuthenticated
</p>
<p>
    UserName = @ViewBag.Name
</p>


<a asp-controller="Admin" asp-action="Index">Admin</a>
<a asp-controller="Admin" asp-action="Administrator">Administrator</a>
<a asp-controller="Admin" asp-action="Manager">Manager</a>
<a asp-controller="Admin" asp-action="Logout">Logout</a>